.todo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}
.todo-card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.completed {
  color: green;
  font-weight: bold;
}

.pending {
  color: red;
  font-weight: bold;
}